@page
@model IndexModel
@{
    ViewData["Title"] = "HA DUY KHANH";
}

<div class="text-center">
    <h1 class="display-4">Chao mung ban den voi PTIT</h1>
    <p>Learn about <a href="https://www.facebook.com/HocvienPTIT/">Hoc vien Cong nghe Buu chinh Vien thong</a>.</p>
</div>
