EPS.API/obj/
ArcFaceSDK/obj/
EPS.Data/obj/
ArcFaceService/obj/
EPS.Service/obj/
EPS.Utils.Common/obj/
EPS.Utils.Repository/obj/
EPS.Utils.Service/obj/
EPS.Web/obj/
.vs/fab/DesignTimeBuild/.dtbcache.v2
.vs/fab/v16/.suo
ArcFaceSDK/bin/
ArcFaceService/bin/
EPS.API/bin/
EPS.Utils.Service/bin/
EPS.Utils.Repository/bin/
EPS.Service/bin/
EPS.Data/bin/
EPS.Utils.Common/bin/
EPS.Web/package-lock.json
.vs/fab/config/applicationhost.config
